nav {
    background-color: #070707;
    padding: 1.5rem 5rem;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    min-height: 10vh;
}

#nav_brand {
    font-size: 1.6rem;
    font-weight: 500;
}

#nav_links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
}

#nav_links li {
    margin-left: 2rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#nav_links li a {
    
    transition: all 0.2s ease-in-out;
}

#nav_links li a:hover {
    color: #8d0062;
}

#hamburger {
    display: none;
}

#MobileNavigation {
    display: none;
}

@media screen and (max-width: 768px) {
    #nav_links {
        display: none;
    }

    #hamburger {
        transform: scale(0.45);
        display: block;
    }

    #MobileNavigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #070707;
        position: absolute;
        top: 0;
        right: 0;
        width: 90%;
        height: 80vh;
        background-color: #b8a728;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    .active {
        transform: translateX(0%);
    }
}

.BsSidebar {
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0px 1rem;
}

.BsSidebar:hover {
    color: #c8b014;
}

.bookCategory {
    position: sticky;
    top: 10vh;
    z-index: 999;
    padding: 0 5rem;

    background-color: #070707;
}

.bookCategory_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bookCategory_list a {
    margin: 0.5rem 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bookCategory_list a:hover {
    color: #8d0062;
}